psycopg2-binary
python-dotenv~=1.0.1
boto3~=1.35.11
botocore~=1.35.11
fpdf
Pillow~=10.4.0
requests~=2.32.3
yfinance~=0.2.43
matplotlib~=3.9.2
pdf2image
jinja2~=3.1.4
pdfkit~=1.0.0
flask~=3.0.3
pandas~=2.2.2